body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 35px;
}
.color{
color: tomato;
}
.button{
    text-decoration: none;
    background-image: linear-gradient(tomato,orange) ;
    border-radius: 25px ;
    font-weight: 700;
    padding: 10px 20px;
    color: white;
}
.divided-width{
    padding-left: 5%;
   width: 50%;
   padding-right: 5%;
   padding-top: 5%;
   padding-bottom: 5%;

}

.flexible{
    display: flex;
    
}
.divided-width img{
    width: 80%;
    
}


.mid-banner{
    background-image: url(image/7.png);
    background-repeat: no-repeat;
   
}
#recipe{
    
    width:40%;
    text-align: center;
    margin: 0 auto;
 
}
.last-item{
    display: flex;
    padding-bottom:5%;
    padding-top: 5%;
}
.last-item img{
    width: 40% ;
    height: 40%;
    border-radius: 20%;
}
.pizza{
    text-align: center;
    box-shadow: 5px 5px 20px ;
    margin-right: 3%;
    margin-left: 3%;
    border-radius: 30px;
    border: 7px solid wheat;

}
.pizza img{
    width: 300px;
    height: 300px;
    border-radius: 30px;
    padding: 30px;
}
#parent-div{
    display: flex;
    justify-content: space-around;
    align-items: center;
   height: 150px;
   width: 70%;
   border: 5px solid whitesmoke;
   border-radius: 20px;
   margin: 0 auto;
   margin-bottom: 10%;
   margin-top: 8%;
   
}
.child-div h1{
 margin-bottom:10px ;

}
.child-div p{
    margin-top: -10%;
}
footer{
    background-color: black;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}
footer h3{
    color: blanchedalmond;
}
footer p{
    color: white;
}

